.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop1 {
  width: 1920px;
  height: 2816px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-link {
  display: contents;
}
.desktop1-linkedinlogo {
  top: 2168px;
  left: 1011px;
  width: 568px;
  height: 155px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-link1 {
  display: contents;
}
.desktop1-githublogo {
  top: 2195px;
  left: 485px;
  width: 444px;
  height: 111px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-group {
  top: 0px;
  left: 0px;
  width: 444px;
  height: 111px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-link2 {
  display: contents;
}
.desktop1-you-tubelogo {
  top: 2420px;
  left: 720px;
  width: 523px;
  height: 252px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-group1 {
  top: 74.69058990478516px;
  left: 23.463624954223633px;
  width: 476px;
  height: 103px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-group2 {
  top: 250px;
  left: 382px;
  width: 338px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.desktop1-text {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-svg {
  top: 55px;
  width: 266;
  height: 0;
  position: absolute;
}
.desktop1-text01 {
  top: 394px;
  left: 429px;
  color: rgba(0, 0, 0, 1);
  width: 1102px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text07 {
  top: 1389px;
  left: 420px;
  color: rgba(0, 0, 0, 1);
  width: 1102px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text11 {
  top: 779px;
  left: 382px;
  color: rgba(0, 0, 0, 1);
  width: 542px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text27 {
  top: 779px;
  left: 980px;
  color: rgba(0, 0, 0, 1);
  width: 542px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group3 {
  top: 1245px;
  left: 382px;
  width: 338px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.desktop1-text39 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-svg1 {
  top: 55px;
  width: 266;
  height: 0;
  position: absolute;
}
.desktop1-group4 {
  top: 2019px;
  left: 382px;
  width: 338px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.desktop1-text40 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-svg2 {
  top: 55px;
  width: 266;
  height: 0;
  position: absolute;
}
.desktop1-text41 {
  top: 1428px;
  left: 496px;
  color: rgba(0, 0, 0, 1);
  width: 1026px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text42 {
  top: 1593px;
  left: 420px;
  color: rgba(0, 0, 0, 1);
  width: 1102px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text43 {
  top: 1632px;
  left: 496px;
  color: rgba(0, 0, 0, 1);
  width: 1026px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle8 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 170px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 1);
}
.desktop1-text44 {
  top: 54px;
  left: 276px;
  color: rgba(0, 0, 0, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 52px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text45 {
  top: 54px;
  left: 783px;
  color: rgba(0, 0, 0, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 52px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text46 {
  top: 54px;
  left: 1290px;
  color: rgba(0, 0, 0, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 52px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
