.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop1 {
  width: 1440px;
  height: 2816px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-link {
  display: contents;
}
.desktop1-linkedinlogo {
  top: 2196px;
  left: 763px;
  width: 235px;
  height: 88px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-link1 {
  display: contents;
}
.desktop1-githublogo {
  top: 2209px;
  left: 405px;
  width: 226px;
  height: 63px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-group {
  top: 0px;
  left: 0px;
  width: 226px;
  height: 63px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-link2 {
  display: contents;
}
.desktop1-you-tubelogo {
  top: 2348px;
  left: 571px;
  width: 250px;
  height: 185px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-group1 {
  top: 54.83237838745117px;
  left: 11.215882301330566px;
  width: 228px;
  height: 75px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-group2 {
  top: 250px;
  left: 244px;
  width: 338px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.desktop1-text {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-svg {
  top: 55px;
  width: 266;
  height: 0;
  position: absolute;
}
.desktop1-text01 {
  top: 394px;
  left: 307px;
  color: rgba(0, 0, 0, 1);
  width: 879px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text07 {
  top: 1389px;
  left: 331px;
  color: rgba(0, 0, 0, 1);
  width: 676px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text11 {
  top: 839px;
  left: 200px;
  color: rgba(0, 0, 0, 1);
  width: 542px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text27 {
  top: 839px;
  left: 687px;
  color: rgba(0, 0, 0, 1);
  width: 329px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group3 {
  top: 1253px;
  left: 244px;
  width: 338px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.desktop1-text39 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-svg1 {
  top: 55px;
  width: 266;
  height: 0;
  position: absolute;
}
.desktop1-group4 {
  top: 2019px;
  left: 311px;
  width: 338px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.desktop1-text40 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-svg2 {
  top: 55px;
  width: 266;
  height: 0;
  position: absolute;
}
.desktop1-text41 {
  top: 1428px;
  left: 332px;
  color: rgba(0, 0, 0, 1);
  width: 823px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text42 {
  top: 1739px;
  left: 349px;
  color: rgba(0, 0, 0, 1);
  width: 676px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text43 {
  top: 1778px;
  left: 332px;
  color: rgba(0, 0, 0, 1);
  width: 1026px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle8 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 170px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 1);
}
.desktop1-text44 {
  top: 45px;
  left: 170px;
  color: rgba(0, 0, 0, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 52px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text45 {
  top: 45px;
  left: 603px;
  color: rgba(0, 0, 0, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 52px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text46 {
  top: 45px;
  left: 947px;
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 52px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
